@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.navbar__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(114,255,128,1) 0%, rgba(174,227,240,1) 100%);
}